.search-container {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;

    nb-form-field {
        width: 100%;
    }

    app-card-grid {
        margin-top: 30px;
    }
}